<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Annotations">
		<groups>
			<run>
				<include name="regression"></include>
				<include name="smoke"></include>
				<include name="sanity"></include>
			</run>
		</groups>
		<classes>
			<class name="TestNgDemo.AnnotationsDemo1">
				<methods>
					<include name="test1"></include>
					<include name="test2"></include>
				</methods>
			</class>
			<class name="TestNgDemo.AnnotationsDemo2">
				<methods>
					<include name="test3"></include>
					<include name="test4"></include>
				</methods>
			</class>

		</classes>
	</test> <!-- Test -->
	<test name="DataProvider">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="dataprovider.OrangeHRMDataProvider">
				<methods>
					<include name="login"></include>
				</methods>
			</class>

		</classes>
	</test>
</suite> <!-- Suite -->
